{% extends 'blocks/user-base.html' %}

{% load bootstrap5 %}

{% block css %}
{% load static %}
<link href="{% static 'queries/style.css' %}" rel="stylesheet"/>
<link href="{% static 'queries/huicalendar.css' %}" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
{% endblock css %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/huicalendar.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="container-elegir">
    {% if chooseDate %}
        <form method="GET" id="form-radio-select">  
            {% bootstrap_form form %}
            <input type="submit" value="Entrar" />
        </form>
    {% endif %}
    {% if chooseDay %}
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Entrar" />
        </form>
    {% endif %}
    {% if chosenDay %}
        <table class="table table-dark table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Día</th>
                    <th class="text-center" scope="col">Consumido</th>
                    <th class="text-center" scope="col">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" scope="row">{{item.24.day}}</td>
                    <td class="text-center">{{item.24.sum|floatformat:3}}</td>
                    <td class="text-center">{{item.24.sumConsume|floatformat:3}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-dark table-striped table-hover table-responsive">
            <thead>
              <tr>
                <th class="text-center" scope="col">Hora</th>
                <th class="text-center" scope="col">Consumido</th>
                <th class="text-center" scope="col">Precio MWh</th>
                <th class="text-center" scope="col">Calculo Precio kWwh</th>
              </tr>
            </thead>
            <tbody>
            {% for it in item %}
                <tr>
                    <td class="text-center" scope="row">{{it.hour}}</td>
                    <td class="text-center">{{it.value|floatformat:3}}</td>
                    <td class="text-center">{{it.valueEsios|floatformat:3}}</td>
                    <td class="text-center">{{it.mulValue|floatformat:3}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          <iframe class="col-12 col-sm-12 col-md-12 col-lg-12" id="main-iframe" src="{% url 'line_chart' %}"></iframe>
          <script>
            $('iframe').on('load', function() {
                $('iframe').height(100 + $('iframe').contents().find('#myChart').height());
            });
          </script>
    {% endif %}
    {% if chooseWeek %}
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 cols-lg-5">
        {% comment %} {% for days in item %}
        <div>
            <h3 class="btn btn-dark rounded w-100 text-center text-white fs-5 hover-dark"
             data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">
             {{days.0}}
            </h3>
        </div> {% endcomment %}
        {% for days in item %}
            {% with forloop.counter as index %}
            {% for key2, value2 in days.items %}
            <div class="modal fade w-100" id="exampleModal{{index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <button type="button" class="btn-close fs-4 pe-2 text-white d-flex flex-justify-center align-items-center" data-bs-dismiss="modal" aria-label="Close">X</button>
                        </div>
                        <div class="modal-body">
                            <div class="cycles cycles">
                                <div class="row row-cols-sm-2 row-cols-md-3 me-4 me-md-0">
                                    <table class="table table-dark table-striped table-hover table-responsive caption-top">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Día</th>
                                                <th class="text-center" scope="col">Consumido Por Día</th>
                                                <th class="text-center" scope="col">Precio Total Por Día</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" scope="row">{{value2.24.day}}</td>
                                                <td class="text-center">{{value2.24.sumTotal|floatformat:3}}</td>
                                                <td class="text-center">{{value2.24.sumConsumeByDay|floatformat:3}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 me-4 me-md-0">
                                    <table class="table table-dark table-striped table-hover table-responsive caption-top">
                                        <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Hora</th>
                                            <th class="text-center" scope="col">Consumido</th>
                                            <th class="text-center" scope="col">Precio MWh</th>
                                            <th class="text-center" scope="col">Calculo Precio kWh</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for day in value2 %}
                                            <tr>
                                                <td class="text-center" scope="row">{{day.hour}}</td>
                                                <td class="text-center">{{day.value|floatformat:3}}</td>
                                                <td class="text-center">{{day.valueEsios|floatformat:3}}</td>
                                                <td class="text-center">{{day.mulValue|floatformat:3}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endwith %}
        {% endfor %}
        <div class="d-flex flex-column">
            <div class="myCalendar"></div>
            <div class="myCalendar2"></div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/total-price.svg" width="64" height="64" alt="icono precio total" title="precio precio total" />
            <span>
                Precio Total:
            </span>
            <span>
                {{sum|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/avg.svg" width="64" height="64" alt="icono precio medio" title="precio medio" />
            <span>
                Precio medio por día:
            </span>
            <span>
                {{avg|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/calendar.svg" width="64" height="64" alt="icono cantidad días" title="cantidad días" />
            <span>
                {{days}} días
            </span>
        </div>
        <script>
            var a = "{{item|safe}}";
            var b = a.replaceAll("\'", "\"").replaceAll("T", "t").replaceAll("F", "f");
            var c = JSON.parse(b);
            var arrayFirstMonth = [];
            var arraySecondMonth = [];
            var contador = 0;
            c.reverse().forEach(v => {
                for (let i in v){ 
                    console.log(i);
                    if (arrayFirstMonth.length === 0 || parseInt(i.slice(0, 2)) > arrayFirstMonth[contador-1])
                        arrayFirstMonth.push(parseInt(i.slice(0, 2)));
                    else 
                        arraySecondMonth.push(parseInt(i.slice(0, 2)));
                    contador++;
                }
            });
            d2 = c[c.length-1];
            var fechaEs2 = "";
            for (let i in d2) {
                fechaEs2 = i;
            }
            var fechaEn2 = fechaEs2.slice(0, 10).split('-').reverse().join('/');
            d1 = c[0];
            var fechaEs1 = "";
            for (let i in d1) {
                fechaEs1 = i;
            }
            var fechaEn1 = fechaEs1.slice(0, 10).split('-').reverse().join('/');
            console.log(arrayFirstMonth);
            console.log(arraySecondMonth);
            if (arrayFirstMonth.length > 0) {
                $('.myCalendar').huicalendar({
                    viewDay:new Date(fechaEn1),
                    enabledDay: arrayFirstMonth
                });
            }
            if (arraySecondMonth.length > 0) {
                $('.myCalendar2').huicalendar({
                    viewDay:new Date(fechaEn2),
                    enabledDay: arraySecondMonth
                });
            }
                
        </script>
        <iframe class="col-12 col-sm-12 col-md-12 col-lg-12" id="main-iframe" src="{% url 'line_chart' %}" width="100%" height="100%"></iframe>
        <script>
            $('iframe').on('load', function() {
                $('iframe').height(100 + $('iframe').contents().find('#myChart').height());
            });
        </script>
    </div>
    {% endif %}
    {% if chooseMonth %}
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 cols-lg-5">
        {% for days in result %}
            {% with forloop.counter as index %}
            {% for key2, value2 in days.items %}
            <div class="modal fade w-100" id="exampleModal{{index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <button type="button" class="btn-close fs-4 pe-2 text-white d-flex flex-justify-center align-items-center" data-bs-dismiss="modal" aria-label="Close">X</button>
                        </div>
                        <div class="modal-body">
                            <div class="cycles cycles">
                                <div class="row row-cols-sm-2 row-cols-md-3 me-4 me-md-0">
                                    <table class="table table-dark table-striped table-hover table-responsive caption-top">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Día</th>
                                                <th class="text-center" scope="col">Consumido Por Día</th>
                                                <th class="text-center" scope="col">Precio Total Por Día</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" scope="row">{{value2.24.day}}</td>
                                                <td class="text-center">{{value2.24.sumTotal|floatformat:3}}</td>
                                                <td class="text-center">{{value2.24.sumConsumeByDay|floatformat:3}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 me-4 me-md-0">
                                    <table class="table table-dark table-striped table-hover table-responsive caption-top">
                                        <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Hora</th>
                                            <th class="text-center" scope="col">Consumido</th>
                                            <th class="text-center" scope="col">Precio MWh</th>
                                            <th class="text-center" scope="col">Calculo Precio kWh</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for day in value2 %}
                                            <tr>
                                                <td class="text-center" scope="row">{{day.hour}}</td>
                                                <td class="text-center">{{day.value|floatformat:3}}</td>
                                                <td class="text-center">{{day.valueEsios|floatformat:3}}</td>
                                                <td class="text-center">{{day.mulValue|floatformat:3}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endwith %}
        {% endfor %}
        <div class="d-flex flex-column">
            <div class="myCalendar"></div>
            <div class="myCalendar2"></div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/total-price.svg" width="64" height="64" alt="icono precio total" title="precio precio total" />
            <span>
                Precio Total:
            </span>
            <span>
                {{sum|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/avg.svg" width="64" height="64" alt="icono precio medio" title="precio medio" />
            <span>
                Precio medio por día:
            </span>
            <span>
                {{avg|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
            </span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
            <img src="../../static/images/calendar.svg" width="64" height="64" alt="icono cantidad días" title="cantidad días" />
            <span>
                {{days}} días
            </span>
        </div>
        <script>
            var a = "{{result|safe}}";
            var b = a.replaceAll("\'", "\"").replaceAll("T", "t").replaceAll("F", "f");
            var c = JSON.parse(b);
            var arrayFirstMonth = [];
            var arraySecondMonth = [];
            var contador = 0;
            c.reverse().forEach(v => {
                for (let i in v){ 
                    console.log(i);
                    if (arrayFirstMonth.length === 0 || parseInt(i.slice(0, 2)) > arrayFirstMonth[contador-1])
                        arrayFirstMonth.push(parseInt(i.slice(0, 2)));
                    else 
                        arraySecondMonth.push(parseInt(i.slice(0, 2)));
                    contador++;
                }
            });
            d2 = c[c.length-1];
            var fechaEs2 = "";
            for (let i in d2) {
                fechaEs2 = i;
            }
            var fechaEn2 = fechaEs2.slice(0, 10).split('-').reverse().join('/');
            d1 = c[0];
            var fechaEs1 = "";
            for (let i in d1) {
                fechaEs1 = i;
            }
            var fechaEn1 = fechaEs1.slice(0, 10).split('-').reverse().join('/');
            console.log(arrayFirstMonth);
            console.log(arraySecondMonth);
            if (arrayFirstMonth.length > 0) {
                $('.myCalendar').huicalendar({
                    viewDay:new Date(fechaEn1),
                    enabledDay: arrayFirstMonth
                });
            }
            if (arraySecondMonth.length > 0) {
                $('.myCalendar2').huicalendar({
                    viewDay:new Date(fechaEn2),
                    enabledDay: arraySecondMonth
                });
            }
                
        </script>
        <iframe class="col-12 col-sm-12 col-md-12 col-lg-12" id="main-iframe" src="{% url 'line_chart' %}" width="100%" height="100%"></iframe>
        <script>
            $('iframe').on('load', function() {
                $('iframe').height(100 + $('iframe').contents().find('#myChart').height());
            });
        </script>
    </div>
    {% endif %}
    {% if measDay %}
        <table class="table table-dark table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Día</th>
                    <th class="text-center" scope="col">Consumido</th>
                    <th class="text-center" scope="col">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" scope="row">{{measDay.lstData.0.24.day}}</td>
                    <td class="text-center">{{measDay.lstData.0.24.sum|floatformat:3}}</td>
                    <td class="text-center">{{measDay.lstData.0.24.sumConsume|floatformat:3}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-dark table-striped table-hover table-responsive caption-top">
            {% for item in measDay.lstMonthlyPoints %}
            <caption class="bg-dark text-white fs-2 text-center">{{item.date}} - {{item.value|floatformat:3}}</caption>
            {% endfor %}
            <thead>
              <tr>
                <th class="text-center" scope="col">Hora</th>
                <th class="text-center" scope="col">Consumido</th>
                <th class="text-center" scope="col">Precio MWh</th>
                <th class="text-center" scope="col">Calculo Precio kWh</th>
              </tr>
            </thead>
            <tbody>
            {% for item in measDay.lstData %}
            {% for it in item %}
                <tr>
                    <td class="text-center" scope="row">{{it.hour}}</td>
                    <td class="text-center">{{it.valueDouble|floatformat:3}}</td>
                    <td class="text-center">{{it.valueEsios|floatformat:3}}</td>
                    <td class="text-center">{{it.mulValue|floatformat:3}}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endfor %}
        </table>
        <iframe class="col-12 col-sm-12 col-md-12 col-lg-12" id="main-iframe" src="{% url 'line_chart' %}" width="100%" height="100%"></iframe>
        <script>
            $('iframe').on('load', function() {
                $('iframe').height(100 + $('iframe').contents().find('#myChart').height());
            });
        </script>
    {% endif %}
    </section>
{% endblock content %}
