{% extends 'blocks/user-base.html' %}
{% load bootstrap5 %}
{% block css %}
{% load static %}
<link href="{% static 'queries/style.css' %}" rel="stylesheet"/>
<link href="{% static 'queries/huicalendar.css' %}" rel="stylesheet"/>
{% endblock css %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/huicalendar.js' %}"></script>
<script>
    var setDates = new Set();
</script>
{% endblock js %}
{% block header %}
<h1 class="bg-dark text-white p-2 text-center">
    {{title}}
</h1>
{% endblock header %}
{% block content %}
    {% if interval %}
        <p>Puedes elegir un máximo de 60 días</p>
        <section class="container-interval h-100">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Entrar" />
                </div>
            </form>
        </section>
        {% endif %}
        {% if meas %}
        <section class="container-interval row row-cols-3 row-cols-sm-4 row-cols-md-5 cols-lg-5">
            {% for item, items in meas %}
            {% comment %} <div>
                <h3 class="btn btn-dark rounded w-100 text-center text-white fs-5 hover-dark"
                 data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">
                 {{item.date}} - {{item.value|floatformat:3}}
                </h3>
            </div> {% endcomment %}
            <div class="modal fade w-100" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100">
                    <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h4 class="col-11 col-sm-11 col-md-11 col-lg-11 text-center text-white">{{item.date}} - {{item.value|floatformat:3}}</h4>
                        <button type="button" class="btn-close fs-4 pe-2 text-white d-flex flex-justify-center align-items-center" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <div class="cycles cycles">
                            <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 me-4 me-md-0"><table class="table table-dark table-striped table-hover table-responsive caption-top">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Día</th>
                                        <th class="text-center" scope="col">Consumido Por Día</th>
                                        <th class="text-center" scope="col">Precio Total Por Día</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">{{items.24.day}}</td>
                                        <td class="text-center">{{items.24.sumPriceDay|floatformat:3}}</td>
                                        <td class="text-center">{{items.24.sumConsumeDay|floatformat:3}}</td>
                                    </tr>
                                </tbody>
                            </table>
                                <table class="table table-dark table-striped table-hover table-responsive caption-top">
                                    <thead>
                                      <tr>
                                        <th class="text-center" scope="col">Hora</th>
                                        <th class="text-center" scope="col">Consumido</th>
                                        <th class="text-center" scope="col">Precio Mwh</th>
                                        <th class="text-center" scope="col">Calculo Precio Kwh</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for it in items %}
                                        <tr>
                                            <td class="text-center" scope="row">{{it.hour}}</td>
                                            <td class="text-center">{{it.valueDouble|floatformat:3}}</td>
                                            <td class="text-center">{{it.valueEsios|floatformat:3}}</td>
                                            <td class="text-center">{{it.mulValue|floatformat:3}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                    </div>
                </div>
            </div>
            <script>
                var a = "{{items|safe}}";
                var b = a.replaceAll("\'", "\"").replaceAll("T", "t").replaceAll("F", "f");
                var d = JSON.parse(b);
                var contador = 0;
                setDates.add(d[0].date.split('/').reverse().join('/'));
            </script>
            {% endfor %}
            <div class="d-flex flex-column">
                <div class="myCalendar"></div>
                <div class="myCalendar2"></div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
                <img src="../../static/images/avg.svg" width="64" height="64" alt="icono precio medio" title="precio medio" />
                <span>
                    Precio medio por día:
                </span>
                <span>
                    {{avgDays|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
                <img src="../../static/images/total-price.svg" width="64" height="64" alt="icono precio total" title="precio precio total" />
                <span>
                    Total Consumido:
                </span>
                <span>
                    {{sumConsumeDays|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
                <img src="../../static/images/avg.svg" width="64" height="64" alt="icono precio medio" title="precio medio" />
                <span>
                    Precio Total:
                </span>
                <span>
                    {{sumPriceDays|floatformat:"2"}} <i class="fa-solid fa-euro-sign"></i>
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center shadow p-3 bg-body rounded">
                <img src="../../static/images/calendar.svg" width="64" height="64" alt="icono cantidad días" title="cantidad días" />
                <span>
                    Cantidad Días:
                </span>
                <span>
                    {{days}} días
                </span>
            </div>
            <script>
                var arrayDates = Array.from(setDates).sort(function(a,b){
                    return new Date(b) - new Date(a);
                });
                var c = 0;
                var arrayFirstMonth = [];
                var arraySecondMonth = [];
                console.log(arrayDates);
                for (let i in arrayDates.reverse()) {
                    if (arrayFirstMonth.length === 0 || parseInt(arrayDates[i].slice(8, 10)) > arrayFirstMonth[contador-1])
                        arrayFirstMonth.push(parseInt(arrayDates[i].slice(8, 10)));
                    else 
                        arraySecondMonth.push(parseInt(arrayDates[i].slice(8, 10)));
                    contador++;
                }
                var fechaEn1 = arrayDates[0];
                var fechaEn2 = arrayDates[arrayDates.length-1];
                console.log(arrayFirstMonth);
                console.log(arraySecondMonth);
                if (arrayFirstMonth.length > 0) {
                    $('.myCalendar').huicalendar({
                        viewDay:new Date(fechaEn1),
                        enabledDay: arrayFirstMonth
                    });
                }
                if (arraySecondMonth.length > 0) {
                    $('.myCalendar2').huicalendar({
                        viewDay:new Date(fechaEn2),
                        enabledDay: arraySecondMonth
                    });
                }
            </script>
            <iframe class="col-12 col-sm-12 col-md-12 col-lg-12" id="main-iframe" src="{% url 'line_chart' %}" width="100%" height="100%"></iframe>
            <script>
                $('iframe').on('load', function() {
                    $('iframe').height(100 + $('iframe').contents().find('#myChart').height());
                });
            </script>
        </section>
    {% endif %}
{% endblock content %}
